{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>About Us
      </h1>
      <br>
      <h2>Game developed by <b>Schuyler and Zach</b></h2>
      <br>
    </div>

    <h1>Team Bios</h1>
    <br>
    <hr>
    <h1><b>Zach Newman</b></h1>
    <br>
    <h2>
    <table>
    <thead>
        <tr>
            <th colspan="2">About Zach</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Year</td>
            <td>Freshman</td>
        </tr>
      <tr>
        <td>Major</td>
        <td>Economics</td>
      </tr>
      <tr>
        <td>Hometown</td>
        <td>Milwaukee</td>
      </tr>
       <tr>
            <td>Sports Team</td>
            <td>Green Bay Packers</td>
        </tr>
       <tr>
            <td>Fav. Band</td>
            <td>The Black Keys</td>
        </tr>
       <tr>
            <td>Siblings</td>
            <td>Has two brothers</td>
        </tr>
       <tr>
            <td>Hobbies</td>
            <td>Playing guitar</td>
        </tr>
       <tr>
            <td>Career Goal</td>
            <td>Undecided</td>
        </tr>
    </tbody>
</table>
</h2>
<br>
<br>
<hr>
<h1><b>Schuyler</b></h1>
<br>
<h2>
<table>
<thead>
    <tr>
        <th colspan="2">About Schuyler</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Year</td>
        <td>Freshman</td>
    </tr>
  <tr>
    <td>Major</td>
    <td>COSI</td>
  </tr>
  <tr>
    <td>Hometown</td>
    <td>NY, NY</td>
  </tr>
   <tr>
        <td>Sports Team</td>
        <td>Yankees</td>
    </tr>
   <tr>
        <td>Fav. Band</td>
        <td>Beatles</td>
    </tr>
   <tr>
        <td>Siblings</td>
        <td>Unknown</td>
    </tr>
   <tr>
        <td>Hobbies</td>
        <td>WBRS Radio DJ</td>
    </tr>
   <tr>
        <td>Career Goal</td>
        <td>President of United States</td>
    </tr>
</tbody>
</table>
</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
