{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Hangman</h1>
    <br>
    <h2>A game by <b>Schuyler and Zach</b> </h2>
  </div>
  <h3>Your mystery word:</h3>
  <br>
  <h1>{{state['word_so_far']}}</h1>
  <br>
  {% if state['guessesLeft'] == 0 %}
        <img src=/static/hangmanDead.jpg alt="Dead">
  {% elif state['guessesLeft'] == 1 %}
        <img src=/static/1Left.png alt="Alive" style="width:150px;height:200px;">
  {% elif state['guessesLeft'] == 2 %}
        <img src=/static/2Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 3 %}
        <img src=/static/3Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 4 %}
        <img src=/static/4Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 5 %}
        <img src=/static/5Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 6 %}
        <img src=/static/6Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 7 %}
        <img src=/static/7Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 8 %}
        <img src=/static/8Left.png alt="Alive" style="width:200px;height:286px;">
  {% elif state['guessesLeft'] == 9 %}
        <img src=/static/9Left.png alt="Alive" style="width:200px;height:286px;">
  {% else %}
        <img src=/static/10Left.png alt="Alive" style="width:200px;height:286px;">
  {% endif %}
  <br>
  <h3>
  <form method="post" action="/play">
    Guess a letter: <input type="text" name="guess">
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  </h3>
  <br>
  <br>
  <h3>Guesses left:</h3>
  <br>
<h1>  <b>{{state['guessesLeft']}}</b> </h1>
  <br>
  <br>
  <h3>Your Message:</h3>
  <br>
  <h1>{{state['error']}}</h1>
  <br>
  <br>
  <h3>The letters you've guessed already:</h3>
  <br>
   <h1>{{state['guesses']}}</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
